.check {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.check__label {
  padding-left: 7px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}

.check__box {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 16px;
  height: 15px;
  border: 2px solid $primary-color;
  border-radius: 3px;
  background-color: $primary-white-color;
  
  &:hover {
    border-color: $accent-color;
  }
}

.check__icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: $accent-color;
  position: absolute;
  top: 4px;
  left: 12px;
  border-radius: 3px;

  opacity: 0;
}

.check__input:checked + .check__box .check__icon {
  background-color: $accent-color;

  opacity: 1;
}

.check__link {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: $accent-color;
}

.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
