.team__section {
  background-color: $secondery-background-color;
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner.team {
  padding: 0 15px;
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
